<!DOCTYPE html>
<html>
	<head>
	<style>
		h1 {font-family: 'Lato', sans-serif; font-weight: 700;}
		h3 {font-family: 'Lato', sans-serif; font-weight: 500;}
		body {background-image: url(../img.jpg);}
		hr {border: none; height: 3px; background: black;}
		button {color: #FFFFFF; background-color: #6698b3; padding: 10px 50px; margin-top: 25px; font-size: 100%;}
		button:hover {background-color: #87CEFA; border-color: #6698b3;}
	</style>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Homepage</title>
	</head>
	<body style="padding:20px;">
		<h1>Projeto de Base de Dados - Entrega 3</h1>
		<h3>Henrique Vaz (98938)<span style="padding-left:30px;">Fábio Ribeiro (98933)<span style="padding-left:30px;">João Freitas (98952)</h3>
		<hr>
		
		<br>
		<button onclick="document.location = '../app.cgi/insert_remove_retailers';">
			<p><b>Inserir ou remover um retalhista e os seus produtos</b></p>
		</button><p>
		<button onclick="document.location = '../app.cgi/insert_remove_categories';">
			<p><b>Inserir ou remover categorias e sub-categorias</b></p>
		</button>
		<p>
		<button onclick="document.location = '../app.cgi/form_ivm';">
			<p><b>Listar todos os eventos de reposição</b></p>
		</button>
		<p>
		<button onclick="document.location = '../app.cgi/form_supercategory';">
			<p><b>Listar todas as sub-categorias</b></p>
		</button>

	</body>
</html>
