<!DOCTYPE html>
<html>
	<head>
	<style>
		h1 {font-family: 'Lato', sans-serif; font-weight: 700;}
		h3 {font-family: 'Lato', sans-serif; font-weight: 500;}
		body {background-image: url(../img.jpg);}
		hr {border: none; height: 3px; background: black;}
		button {color: #FFFFFF; background-color: #6698b3; padding: 10px 50px; margin-top: 25px; font-size: 140%; align-items: center;}
		button:hover {background-color: #87CEFA; border-color: #6698b3;}
	</style>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Insert or Remove category</title>
	</head>
	<body style="padding:20px;">
		<h1>Projeto de Base de Dados - Entrega 3</h1>
		<h3>Inserir ou Remover uma categoria ou uma subcategoria </h3>
		<hr>
		
		<br>
		<button onclick="document.location = '../app.cgi/insert_category_subcategory';">
			<p><b>Inserir</b></p>
		</button><span style="padding-left:20px;">
		<button onclick="document.location = '../app.cgi/form_remove_category';">
			<p><b>Remover</b></p>
		</button>
